<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.willisaway.user.dao.SmRoleMapper">

    <select id="selectIdByMap" resultType="java.lang.Long">
		select row_id from sm_role
		where 1=1 and DELETED_FLAG = '0'
			<if test="cm.keyword != null">
				and role_name like CONCAT('%',#{cm.keyword},'%')
			</if>
			<if test="cm.customCondition != null" >
	        	${cm.customCondition}
	        </if>
	</select>

    <select id="getUserForRole" resultType="java.util.Map"></select>

    <update id="updateBySql"></update>
</mapper>