<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.willisaway.user.dao.SmRoleMenuMapper">
	<select id="queryPermission" resultType="java.lang.String">
		select CONCAT(menu_name,'(', GROUP_CONCAT(code_text), ')')
		from
		sm_role_menu rm
		join sm_menu m on rm.menu_id=m.row_id
		join md_dic d on rm.permission_=d.code_
		join md_dic_index di on d.index_id=di.row_id and
		di.key_='CRUD'
		<where>
			<if test="roleId != null">
				rm.role_id=#{roleId}
			</if>
		</where>
		group by menu_name
		order by menu_id
	</select>
	<!-- <select id="getPermissions" resultType="java.lang.String">
		select CONCAT(menu_id, permission_)
		from sys_role_menu
		<where>
			<if test="roleId != null">
				role_id=#{roleId}
			</if>
		</where>
		order by menu_id
	</select> -->
	
	<select id="getPermissions" resultType="java.util.Map">
		select menu_id as menuId, permission_ as permission
		from sys_role_menu
		where 1=1 and DELETED_FLAG = '0'
		<if test="roleId != null">
			and role_id=#{roleId}
		</if>
		order by menu_id
	</select>
	
	<!--删除单品  -->
  <delete id="deleteRoleMenu" parameterType="java.util.Map">
	 update sys_role_menu set deleted_flag = 1 
	 <where>
		 <if test="roleId != null">
			and role_id=#{roleId}
		 </if>
		 <if test="menuId != null">
			and menu_id=#{menuId}
		 </if>
		 <if test="permission != null">
			and permission_=#{permission}
		 </if>
		 <if test="row_id != null">
			and row_id=#{rowId}
		 </if>
	 </where>
  </delete>
</mapper>