<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.willisaway.user.dao.SmUserMapper">
	<!-- 查询列表-->
	<select id="selectIdByMap" resultType="java.lang.Long">
		SELECT row_id FROM sm_user
		where deleted_flag='0'
			<if test="cm.userCode != null and cm.userCode != ''">
				 and user_code = #{cm.userCode}
			</if>
			<if test="cm.password != null and cm.password != ''">
				 and password = #{cm.password}
			</if>
			<if test="cm.phone != null and cm.phone != ''">
				 and phone = #{cm.phone}
			</if>
			<if test="cm.sex != null and cm.sex != ''">
				 and sex = #{cm.sex}
			</if>
			<if test="cm.userName != null and cm.userName != ''">
				 and user_name = #{cm.userName}
			</if>
			<if test="cm.userType != null and cm.userType != ''">
				 and user_type = #{cm.userType}
			</if>
			<if test="cm.companyId != null and cm.companyId != ''">
				 and company_id = #{cm.companyId}
			</if>
			<if test="cm.deptId != null and cm.deptId != ''">
				 and dept_id = #{cm.deptId}
			</if>
			<if test="cm.statusFlag != null and cm.statusFlag != ''">
				 and status_flag = #{cm.statusFlag}
			</if>
			<if test="cm.deletedFlag != null and cm.deletedFlag != ''">
				 and deleted_flag = #{cm.deletedFlag}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
				 and remark = #{cm.remark}
			</if>
			<if test="cm.createTime != null and cm.createTime != ''">
				 and create_time = #{cm.createTime}
			</if>
			<if test="cm.createBy != null and cm.createBy != ''">
				 and create_by = #{cm.createBy}
			</if>
			<if test="cm.updateTime != null and cm.updateTime != ''">
				 and update_time = #{cm.updateTime}
			</if>
			<if test="cm.updateBy != null and cm.updateBy != ''">
				 and update_by = #{cm.updateBy}
			</if>
			<if test="cm.keyword != null">
				and (user_name like CONCAT('%',#{cm.keyword},'%') or phone like CONCAT('%',#{cm.keyword},'%'))
			</if>
			<if test="cm.nameLike != null">
			    and user_name like CONCAT('%',#{cm.nameLike},'%')
			</if>
			<if test="cm.loginName != null and cm.loginName != ''">
				 and (user_code = #{cm.loginName} or phone = #{cm.loginName})
			</if>
			<if test="cm.roleId != null and cm.roleId != ''">
				 and exists (select row_id from sm_user_role where role_id = #{cm.roleId} and user_id=sm_user.row_id)
			</if>
		ORDER BY row_id DESC
	</select>


	<update id="updateBySql"></update>
	<select id="queryAllPerms" resultType="java.lang.String"></select>
	<select id="queryAllMenuId" resultType="java.lang.Long"></select>
	<select id="queryUserList" resultType="com.github.willisaway.user.model.SmUser"></select>
</mapper>
