<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.willisaway.user.dao.SmUserRoleMapper">
	<!-- 查询列表-->
	<select id="selectIdByMap" resultType="java.lang.Long">
		SELECT row_id FROM sm_user_role
		where deleted_flag='0'
			<if test="cm.userId != null and cm.userId != ''">
				 and user_id = #{cm.userId}
			</if>
			<if test="cm.roleId != null and cm.roleId != ''">
				 and role_id = #{cm.roleId}
			</if>
		ORDER BY row_id DESC
	</select>


	<update id="updateBySql"></update>
	<select id="getUserForRole" resultType="java.util.List"></select>
</mapper>
